<div class="flex flex-wrap space-x-4" formGroupName="address">
	<div class="flex-1 mb-4">
		<label class="block text-gray-700" for="street">Street: </label>
		<input
			class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
			formControlName="street"
			id="street"
			placeholder="Street"
			type="text" />
	</div>
	<div class="flex-1 mb-4">
		<label class="block text-gray-700" for="city">City: </label>
		<input
			class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
			formControlName="city"
			id="city"
			placeholder="City"
			type="text" />
	</div>
	<div class="flex-1 mb-4">
		<label class="block text-gray-700" for="state">State: </label>
		<input
			class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
			formControlName="state"
			id="state"
			placeholder="state"
			type="text" />
	</div>
	<div class="flex-1 mb-4">
		<label class="block text-gray-700" for="zipCode">Zip Code: </label>
		<input
			class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
			formControlName="zipCode"
			id="zipCode"
			placeholder="Zip Code"
			type="number" />
	</div>
</div>
