<div class="flex flex-wrap justify-center mt-5">
    <form [formGroup]="formGroup" class="min-w-min justify-center m-4">
        <div class="mb-4">
            <label class="block text-gray-700" for="name">First Name: </label>
            <input formControlName="firstName" type="text"
                class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="firstName" placeholder="First Name">
        </div>
    <div class="mb-4">
        <label class="block text-gray-700" for="name">Last Name: </label>
        <input formControlName="lastName" type="text"
            class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            id="lastName" placeholder="Last Name">
    </div>
    <app-child formControlName="email"></app-child>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
    <br />
    </form>

    <div class="w-full m-4">
        <h2 class="h2">Entered Values</h2>
        <div>First Name: {{ formGroup.get('firstName')?.value }}</div>
        <div>Last Name: {{ formGroup.get('lastName')?.value }}</div>
        <div>Email: {{ formGroup.get('email')?.value }}</div>
    </div>
</div>
<router-outlet></router-outlet>